/* natulips */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s;
    font-size: 62.5%;
    font-family: "Merriweather Sans", sans-serif;
}
img {
    max-width: 100%;
    vertical-align: bottom;
}
html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
}

.pt-sans {
    font-family: "PT Sans", sans-serif;
}
.text--purple {
    color: #bf367c;
}
.text--white {
    color: #fff;
}
.text--grey {
    color: #636363;
}
.text--center {
    text-align: center;
}
.text--normal {
    font-size: 2rem;
    padding-bottom: 1rem;
    line-height: 3.5rem;
}
.text--big {
    font-size: 2.2rem;
}
.text--2-7rem {
    font-size: 2.7rem;
}
.text--3rem {
    font-size: 3rem;
}
.text--2rem {
    font-size: 2rem;
    line-height: 3.5rem;
}
.text--bold {
    font-weight: 700;
}
.text--extra-bold {
    font-weight: 900;
}
.title--small {
    font-size: 3rem;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
}
.title--medium {
    font-size: 4rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
}
.title--big {
    font-size: 6rem;
    padding-bottom: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}
.text--uppercase {
    text-transform: uppercase;
}
.pos-relative {
    position: relative;
}
.purple-bg {
    background: #bf367c;
}
.pad-top-1rem {
    padding-top: 1rem;
}
.pad-top-2rem {
    padding-top: 2rem;
}
.pad-bottom-1rem {
    padding-bottom: 1rem;
}
.pad-bottom-2rem {
    padding-bottom: 2rem;
}
.pad-bottom-4rem {
    padding-bottom: 4rem;
}
.pad-bottom-0 {
    padding-bottom: 0;
}
.display-block {
    display: block;
}
.wrapper--side-pad-300px {
    padding: 0 300px;
    margin: 0 auto;
    max-width: 2000px;
}
.wrapper--side-pad-220px {
    padding: 0 220px;
    margin: 0 auto;
    max-width: 2000px;
}
.flex {
    display: flex;
}
.flex--column {
    flex-direction: column;
}
.flex--align-center {
    align-items: center;
}
.max-width-50-percent {
    max-width: 50%;
}

.hero {
    position: relative;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 211, 233, 1) 80%
    );
    height: 800px;
}
.hero__face {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}
.hero__logo {
    position: absolute;
    top: 35px;
    left: 100px;
}
.hero__purple-wave {
    position: absolute;
    left: 0;
    top: 720px;
    transform: translateY(-28%);
    width: 100%;
    z-index: 2;
}
.hero__purple-wave img {
    width: 100%;
    max-height: 400px;
}
.hero__stamps {
    position: absolute;
    right: 120px;
    top: 650px;
    z-index: 5;
}
.hero__text-container {
    max-width: 450px;
    padding-top: 30px;
}
.hero__product-and-text-container {
    display: flex;
    padding-top: 200px;
    position: relative;
    z-index: 20;
}
.hero__text-container h1 {
    letter-spacing: 0.3rem;
    padding-bottom: 0.5rem;
    line-height: 1.2;
}
.hero__text-container p {
    font-size: 2rem;
    font-style: italic;
    padding-bottom: 1rem;
}
.hero__text-container ul {
    color: #bf367c;
    padding-bottom: 8rem;
    padding-left: 20px;
}
.hero__text-container li {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
}
.button--fade-and-pink-border {
    background: linear-gradient(
        90deg,
        rgba(144, 22, 64, 1) 0%,
        rgba(189, 52, 121, 1) 50%,
        rgba(144, 22, 64, 1) 100%
    );
    padding: 1.5rem 2rem;
    border: solid 5px rgba(255, 255, 255, 0.6);
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2rem;
    border-radius: 40px;
    cursor: pointer;
    flex-grow: 0;
    flex-shrink: 0;
}
.button--fade-and-pink-border:hover {
    background: linear-gradient(
        90deg,
        rgba(95, 12, 41) 0%,
        rgba(156, 41, 99) 50%,
        rgba(95, 12, 41) 100%
    );
    border: solid 5px #d16fb5;
}
.water-splash-top-left {
    position: absolute;
    left: 2rem;
    top: 72%;
    z-index: -1;
}
.title-under-purple-wave {
    width: 100%;
    padding: 150px 0 0;
}
.cards-container {
    display: flex;
    flex-wrap: wrap;
}
.card {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem 5rem;
}
.card__image {
    transform: translateX(-11%);
    max-width: 90%;
}
.card__text {
    color: #636363;
    font-size: 1.8rem;
    line-height: 3.5rem;
    text-align: center;
}
.water-splash-and-lips {
    position: absolute;
    right: 0;
    bottom: -15%;
    z-index: -1;
}
.water-splash-and-lips img {
    max-height: 80%;
}
.purple-wave-and-title-inside {
    position: relative;
    width: 100%;
}
.purple-wave-and-title-inside > img {
    width: 100%;
    max-height: 400px;
    min-height: 185px;
}
.title-inside-purple-wave-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 14% 30% 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.purple-wave-and-title-inside__flower {
    position: absolute;
    top: 62%;
    left: 5%;
    z-index: -1;
}
.water-splash-left-and-flower {
    position: absolute;
    left: 0;
    top: 5rem;
    z-index: -2;
}
.pad-top-12rem {
    padding-top: 12rem;
}
.water-splash-right {
    position: absolute;
    right: 0;
    bottom: -250px;
    max-width: 500px;
}
.pad-bottom-7rem {
    padding-bottom: 7rem;
}
.doctor {
    flex-shrink: 0;
}
.doctor-and-text-container {
    display: flex;
    align-items: flex-end;
}
.text-next-to-doctor {
    padding: 0 8rem 22% 4rem;
}
.horizontal-water-and-flower {
    position: absolute;
    bottom: -3%;
    right: 0;
    width: 80%;
    z-index: -1;
}
.horizontal-water-and-flower img {
    width: 100%;
}
.product-stamps-and-text {
    display: flex;
}
.horizontal-water-behind-product {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: 100%;
    z-index: -1;
}
.horizontal-water-behind-product img {
    width: 100%;
    height: 100%;
}
.big-stamps-and-text {
    max-width: 500px;
    padding-top: 101px;
}
.margin-left-36px {
    margin-left: 36px;
}
.pad-top-1-5rem {
    padding-top: 1.5rem;
}
.overflow-hidden {
    overflow: hidden;
}
.water-behind-product-absolute-part {
    position: absolute;
    top: 0;
    width: calc(100% - 610px);
    z-index: -1;
    min-width: 600px;
}
.water-behind-product-absolute-part img {
    width: 100%;
}
.slider {
    margin: 0 auto;
    max-width: 848px;
    position: relative;
    margin-top: 180px;
}
.slides-container {
    max-width: 848px;
}
/*slider animation bug fix*/
.slick-slider div {
    transition: none;
}
.slider__fb-logo {
    position: absolute;
    top: 6px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    max-width: 18%;
}
.slick-arrow {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    z-index: 20;
    border: none;
    outline: none;
    background: none;
}
.slick-arrow img {
    max-height: 80px;
}
.slick-arrow:hover {
    background: rgba(191, 54, 125, 0.2);
}
.prevous-arrow {
    position: absolute;
    top: 50%;
    left: -150px;
    transform: translateY(-50%);
}
.next-arrow {
    position: absolute;
    top: 50%;
    right: -150px;
    transform: translateY(-50%);
}
.next-arrow img {
    transform: translateX(10%);
}
.prevous-arrow img {
    transform: translateX(-10%);
}
.slider__flowers {
    position: absolute;
    top: -30%;
    right: -38px;
}
.water-behind-slider-right {
    position: absolute;
    right: 0;
    bottom: -211px;
    height: 684px;
    width: calc((100% - 848px) / 2);
    z-index: -1;
}
.water-behind-slider-right img {
    height: 684px;
    width: 100%;
}
.water-behind-slider-left {
    position: absolute;
    bottom: -211px;
    left: 0;
    z-index: -1;
    height: 684px;
    width: calc(((100% - 848px) / 2) + 848px);
}
.water-behind-slider-left img {
    height: 684px;
    width: 100%;
}
.flower {
    position: absolute;
    left: 20%;
    top: calc(100% + 125px);
    z-index: -3;
}
.face-zoomed {
    position: absolute;
    top: -28px;
    right: 0;
    z-index: -2;
}
.pad-top-230px {
    padding-top: 230px;
}
.pad-bottom-70px {
    padding-bottom: 70px;
}
.purple-bulges {
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
}
.purple-bulges img {
    width: 100%;
    max-height: 140px;
}
.title-in-bulge {
    padding-bottom: 2rem;
}
.water-splash-bottom-left {
    position: absolute;
    left: 0;
    bottom: 50px;
    z-index: -1;
    max-width: 300px;
}
.pad-2rem {
    padding: 2rem 0;
}
.container--max-900px {
    max-width: 900px;
    margin: 0 auto;
}
.text-under-purple-bulge-container {
    padding: 0 190px;
    margin: 0 auto;
    max-width: 1300px;
}
.purple-bg__flower {
    position: absolute;
    bottom: -65px;
    left: 40px;
}
.footer {
    padding-top: 40px;
    position: relative;
    overflow: hidden;
}
.footer__logo {
    padding-bottom: 45px;
}
.footer__logo-and-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 230px;
}
.footer__flower-and-water {
    position: absolute;
    right: 0;
    bottom: 640px;
}
.footer__form-container {
    max-width: 480px;
    padding: 60px 70px 25px;
    background: #bf367c;
    border-radius: 30px;
    border: solid 17px rgba(255, 255, 255, 0.8);
    position: relative;
}
.form__text h3 {
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 4rem;
}
.form__text {
    padding-bottom: 30px;
}
.form__input {
    width: 100%;
    font-size: 1.8rem;
    outline: none;
    background: #fff;
    border: 2px solid #cfcfcf;
    border-radius: 5px;
    padding: 10px;
}
.form__input:focus {
    border: solid 2px #003270;
}
.form__part {
    margin-bottom: 12px;
}
.form__city-and-postal-code {
    display: flex;
    justify-content: space-between;
}
.form__city-and-postal-code > .form__part {
    flex-basis: 48%;
}
.form__submit {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.footer__form-and-product {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-top: 100px;
    position: relative;
}
.footer__product {
    position: relative;
}
.product__discount-bubble {
    position: absolute;
    top: -29%;
    right: -36%;
    max-width: 83%;
}
.product__price-tag {
    position: absolute;
    top: 18%;
    right: -56%;
    z-index: -1;
    max-width: 98%;
}
.product__price {
    line-height: 99px;
    color: #fff;
    font-size: 95px;
    position: absolute;
    top: 0;
    right: 12%;
    font-weight: 700;
}
.footer__product-container {
    display: flex;
    position: relative;
}
.footer__stamps {
    height: 134px;
    margin-top: 315px;
    position: relative;
    left: -30px;
}
.footer__top {
    position: relative;
}
.footer__water-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: -5;
}
.footer__water-bottom img {
    width: 100%;
    max-height: 160px;
}
.footer__water-splash-left {
    position: absolute;
    left: -150px;
    top: 220px;
    z-index: -4;
}
.footer__water-splash-right {
    position: absolute;
    top: 220px;
    right: -340px;
    z-index: -4;
}
.footer__bottom-decoration {
    position: absolute;
    left: 0;
    bottom: -130px;
    width: 100%;
    z-index: -3;
}
.footer__bottom-decoration img {
    width: 100%;
    max-height: 350px;
    min-height: 300px;
    object-fit: cover;
    object-position: center center;
}
.footer__bottom-decoration-color {
    height: 35px;
    width: 100%;
    background: #bf367c;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -4;
}
.footer__bottom {
    padding: 90px 0 50px;
    background: #bf367c;
    z-index: -4;
    position: relative;
}
.footer__bottom span {
    font-size: 1.6rem;
    line-height: 3.5rem;
}
.footer__bottom__text-container {
    max-width: 1300px;
    padding: 0 30px;
    margin: 0 auto;
}
